
.project-display {
  padding: 10px;
  margin: 5px;
  border: solid 2px #eef;

  button { margin-right: 5px; }

  .project-paths {
    margin-bottom: 10px;
  }

  .project-props {
    border-bottom: solid 2px #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }


}