using System;
using System.ComponentModel.DataAnnotations;

namespace [[namespace]]
{
    public class [[object]]
    {
        //--------------------------------------------------------
        [[props]]
        //--------------------------------------------------------
    }
}