using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;

namespace [[namespace]].Entities
{
    public class [[object]]
    {
        //--------------------------------------------------------
        [[entity-props]]
        //--------------------------------------------------------
    }
}