using [[namespace]].Entities;
using [[namespace]].Repositories;
using Microsoft.EntityFrameworkCore;
using System;

namespace [[namespace]]
{
    public class Uow : IUow
    {
        //--------------------------------------------------------------------------
        public DataContext db { get; }
        //--------------------------------------------------------------------------

        [[uow-repos]]

        //--------------------------------------------------------------------------

        //--------------------------------------------------------------------------
        public Uow(DataContext context)
        {
            db = context;
            //------------------------------------------------

            [[uow-instances]]

            //------------------------------------------------
        }
        //--------------------------------------------------------------------------
        public void Commit()
        {
           db.SaveChanges();
        }
        //--------------------------------------------------------------------------
        //--------------------------------------------------------------------------
        #region Disposable
        //--------------------------------------------------------------------------
        private bool disposed = false;
        //--------------------------------------------------------------------------
        protected virtual void Dispose(bool disposing)
        {
            if (!this.disposed)
            {
                if (disposing)
                {
                    db.Dispose();
                }
            }
            this.disposed = true;
        }
        //--------------------------------------------------------------------------
        public void Dispose()
        {
            Dispose(true);
            GC.SuppressFinalize(this);
        }
        //--------------------------------------------------------------------------
        #endregion
        //--------------------------------------------------------------------------
    }
}