
//---------------------------------------------------------------------------

export default class [[object]] {
  constructor(options) {

    [[js-props]]

    if(options) {
      this.init(options);
    }
  }

  //---------------------------------------------------------------------------
  init(options) {

    [[js-options]]

  }  
  //---------------------------------------------------------------------------  
}